<div
  class="login-bg"
  fxLayout="row" fxLayoutAlign="center center"
  style="height: 100vh">
  <div 
    fxLayout='column' fxFlexAlign="center" 
    fxFlex="40" fxFlex.xs="100" fxFlex.gt-lg="20" 
    style="margin: 20px">
      <div scAnimated="pulse" class="title-container">
        <img src="assets/icons/icon.png" alt="Smart Campus" class="brand-img">
        <span class="brand-name">SMART CAMPUS</span>
      </div>
      <!-- LOGIN MODE -->
      <div class="login-wraper" *ngIf="isLogin; else signIn">
        <form class="login-form" #loginForm="ngForm">
          <div scAnimated="fadeIn" class="border-container box-shadow">
            <div fxLayout="row" fxLayoutAlign="center center">
              <input 
                class="login-input" name="username" 
                type="text" required="true" placeholder="Usuario"
                [(ngModel)]="login.username"/>
            </div>
            <hr class="login-line">
            <div fxLayout="row" fxLayoutAlign="center center">
              <input 
                class="login-input" name="password"
                type="password" required="true" placeholder="Contraseña"
                [(ngModel)]="login.password"/>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-flat-button scAnimated="fadeIn"
              class="login-button box-shadow" 
              type="button"
              (click)="doLogin()" 
              [disabled]="loginForm.form.invalid" 
              color="primary" 
              style="color: white">
              Iniciar sesión
            </button>
          </div>
        </form>
        <div fxLayoutAlign="center center" fxLayout="row login-links" style="margin-top: 8px;">
          <a class="login-link" (click)="changeLoginOption()">Registrarse</a>
        </div>
      </div>
      <!-- SIGNIN MODE -->
      <ng-template #signIn class="signing-wraper">
        <form class="login-form" #signingForm="ngForm">
          <div scAnimated="fadeIn" class="border-container box-shadow">
            <div fxLayout="row" fxLayoutAlign="center center">
              <input 
                class="login-input" name="newUsername"
                type="text" required="true" placeholder="Usuario"
                [(ngModel)]="signing.username"/>
            </div>
            <hr class="login-line">
            <div fxLayout="row" fxLayoutAlign="center center">
              <input 
                class="login-input" name="newPassword"
                type="text" required="true" placeholder="Email"
                [(ngModel)]="signing.email"/>
            </div>
            <hr class="login-line">
            <div fxLayout="row" fxLayoutAlign="center center">
              <input 
                class="login-input" name="newPassword"
                type="password" required="true" placeholder="Contraseña"
                [(ngModel)]="signing.password"/>
            </div>
            <hr class="login-line">
            <div fxLayout="row" fxLayoutAlign="center center">
              <input 
                class="login-input" name="newPasswordRepeat"
                type="password" required="true" placeholder="Repetir Contraseña"
                [(ngModel)]="signing.passwordCheck"/>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-flat-button scAnimated="fadeIn"
              class="login-button box-shadow"
              (click)="doSigning()"
              [disabled]="signingForm.form.invalid"
              color="primary"
              style="color: white">
              Registrarse
            </button>
          </div>
        </form>
        <div fxLayout="row login-links" fxLayoutAlign="center center"  style="margin-top: 8px;" >
          <a class="login-link" (click)="changeLoginOption(0)">Iniciar sesión</a>
        </div>
      </ng-template>
  </div>
</div>