<div
  class="login-bg"
  fxLayout="row" fxLayoutAlign="center center"
  style="height: 100vh; width: 100vw">
  <div 
    fxLayout="column" fxFlexAlign="center"
    fxFlex="40" fxFlex.xs="100" fxFlex.gt-lg="20" 
    style="margin: 20px">
    <div scAnimated="pulse" class="title-container default-shadow">
      <img src="assets/icons/icon.png" alt="Smart Campus" class="brand-img">
      <span class="brand-name">SMART CAMPUS</span>
    </div>
    <div [ngSwitch]="loginSection">
    <!-- LOGIN MODE -->
    <div *ngSwitchCase="'1'">
      <form class="login-form" #loginForm="ngForm" (ngSubmit)="doLogin()">
        <div scAnimated="fadeIn" class="border-container default-shadow">
          <!-- Username field -->
          <div fxLayout="row" fxLayoutAlign="center center">
            <input 
              class="login-input" name="username" #username="ngModel"
              type="text" placeholder="Usuario"
              required="true" minlength="4"
              [(ngModel)]="login.username"/>
            <div  *ngIf="isModelInvalid(username)">
              <mat-icon
                class="validation-icon"
                *ngIf="username.errors?.required"
                matTooltip="Nombre de usuario requerido"
                matTooltipClass="validation-tooltip">
                report_problem
              </mat-icon>
              <mat-icon
                class="validation-icon"
                *ngIf="username.errors?.minlength"
                matTooltip="Nombre de usuario debe tener minimo 4 caracteres"
                matTooltipClass="validation-tooltip">
                report_problem
              </mat-icon>
            </div>
          </div>
          <hr class="login-line">
          <!-- Password field -->
          <div fxLayout="row" fxLayoutAlign="center center">
            <input 
              class="login-input" name="password" #password="ngModel"
              type="password" placeholder="Contraseña"
              required="true" minlength="4"
              [(ngModel)]="login.password"/>
            <div  *ngIf="isModelInvalid(password)">
              <mat-icon
                class="validation-icon"
                *ngIf="password.errors?.required"
                matTooltip="Contraseña requerida"
                matTooltipClass="validation-tooltip">
                report_problem
              </mat-icon>
              <mat-icon
                class="validation-icon"
                *ngIf="password.errors?.minlength"
                matTooltip="Contraseña debe tener minimo 4 caracteres"
                matTooltipClass="validation-tooltip">
                report_problem
              </mat-icon>
            </div>
          </div>
        </div>
        <!-- Server side validations. -->
        <div class="validation-error" fxLayout="row" fxLayoutAlign="center center">
          {{ validationError }}
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="default-shadow">
          <button mat-flat-button scAnimated="fadeIn"
            class="login-button box-shadow" 
            type="submit"
            [disabled]="isFormInvalid(loginForm)"
            color="primary" 
            style="color: white">
            Iniciar sesión
          </button>
        </div>
      </form>
    </div>
    <!-- SIGNIN MODE -->
    <div *ngSwitchCase="'0'">
      <form class="login-form" #signingForm="ngForm" (ngSubmit)="doSigning()">
        <div scAnimated="fadeIn" class="border-container default-shadow">
          <!-- Username field -->
          <div fxLayout="row" fxLayoutAlign="center center">
            <input 
            class="login-input" name="newUsername" #newUsername="ngModel"
            type="text" placeholder="Usuario"
            required="true" minlength="4"
            [ngModel]="signing.username" (ngModelChange)="onUsernameChanged($event, false)" />
            <div *ngIf="isModelInvalid(newUsername)">
              <mat-icon
                class="validation-icon"
                *ngIf="newUsername.errors?.required"
                matTooltip="Nombre de usuario requerido">
                report_problem
              </mat-icon>
              <mat-icon
                class="validation-icon"
                *ngIf="newUsername.errors?.minlength"
                matTooltip="Nombre de usuario debe tener minimo 4 caracteres">
                report_problem
              </mat-icon>
            </div>
          </div>
          <hr class="login-line">
          <!-- Name field -->
          <div fxLayout="row" fxLayoutAlign="center center">
            <input 
              class="login-input" name="newName" #newName="ngModel"
              type="text" placeholder="Nombre"
              required="true" minlength="8"
              [(ngModel)]="signing.name"/>
            <div *ngIf="isModelInvalid(newName)">
              <mat-icon
                class="validation-icon"
                *ngIf="newName.errors?.required"
                matTooltip="Nombre requerido"
                matTooltipClass="validation-tooltip">
              report_problem
              </mat-icon>
              <mat-icon
                class="validation-icon"
                *ngIf="newName.errors?.minlength"
                matTooltip="Nombre debe tener minimo 8 caracteres"
                matTooltipClass="validation-tooltip">
                report_problem
              </mat-icon>
            </div>
          </div>
          <hr class="login-line">
          <!-- Email field -->
          <div fxLayout="row" fxLayoutAlign="center center">
            <input 
              class="login-input" name="newEmail" #newEmail="ngModel"
              type="email" placeholder="Email"
              required="true" ngvemail
              [(ngModel)]="signing.email"/>
            <div  *ngIf="isModelInvalid(newEmail)">
              <mat-icon
                class="validation-icon"
                *ngIf="newEmail.errors?.required"
                matTooltip="Email requerido"
                matTooltipClass="validation-tooltip">
                report_problem
              </mat-icon>
              <mat-icon
                class="validation-icon"
                *ngIf="newEmail.errors?.email"
                matTooltip="Email invalido"
                matTooltipClass="validation-tooltip">
                report_problem
              </mat-icon>
            </div>
          </div>
          <hr class="login-line">
          <!-- Password field -->
          <div fxLayout="row" fxLayoutAlign="center center">
            <input 
              class="login-input" name="newPassword" #newPassword="ngModel"
              type="password" placeholder="Contraseña"
              required="true" minlength="4"
              [(ngModel)]="signing.password"/>
            <div  *ngIf="isModelInvalid(newPassword)">
              <mat-icon
                class="validation-icon"
                *ngIf="newPassword.errors?.required"
                matTooltip="Contraseña requerida"
                matTooltipClass="validation-tooltip">
                report_problem
              </mat-icon>
              <mat-icon
                class="validation-icon"
                *ngIf="newPassword.errors?.minlength"
                matTooltip="Contraseña debe tener minimo 4 caracteres"
                matTooltipClass="validation-tooltip">
                report_problem
              </mat-icon>
            </div>
          </div>
          <hr class="login-line">
          <!-- Validate Password field -->
          <div fxLayout="row" fxLayoutAlign="center center">
            <input 
              class="login-input" name="newPasswordRepeat" #newPasswordRepeat="ngModel"
              type="password" placeholder="Repetir Contraseña"
              required="true" minlength="4" [equal]="signing.password"
              [(ngModel)]="signing.passwordCheck" />
            <div *ngIf="isModelInvalid(newPasswordRepeat)">
              <mat-icon
                class="validation-icon"
                *ngIf="newPasswordRepeat.errors?.equal"
                matTooltip="Las contraseñas no coinciden"
                matTooltipClass="validation-tooltip">
                report_problem
              </mat-icon>
            </div>
          </div>
        </div>
        <!-- Server side validations. -->
        <div class="validation-error" fxLayout="row" fxLayoutAlign="center center">
          <span *ngIf="validationError">{{ validationError }}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="default-shadow">
          <button mat-flat-button scAnimated="fadeIn"
            class="login-button box-shadow"
            [disabled]="isFormInvalid(signingForm)" 
            color="primary"
            style="color: white">
            Registrarse
          </button>
        </div>
      </form>
    </div>
    <!-- Retrieve password -->
    <div *ngSwitchCase="'2'">
      <form class="login-form" #changePwdForm="ngForm" (ngSubmit)="doRetrievePassword()">
        <div scAnimated="fadeIn" class="border-container default-shadow">
          <!-- Email field -->
          <div fxLayout="row" fxLayoutAlign="center center">
            <input 
              class="login-input" name="emailForPass" #emailForPass="ngModel"
              type="email" placeholder="Email"
              required="true" ngvemail
              [(ngModel)]="email"/>
            <div  *ngIf="isModelInvalid(emailForPass)">
              <mat-icon
                class="validation-icon"
                *ngIf="emailForPass.errors?.required"
                matTooltip="Email requerido"
                matTooltipClass="validation-tooltip">
                report_problem
              </mat-icon>
              <mat-icon
                class="validation-icon"
                *ngIf="emailForPass.errors?.email"
                matTooltip="Email invalido"
                matTooltipClass="validation-tooltip">
                report_problem
              </mat-icon>
            </div>
          </div>
        </div>
        <!-- Server side validations. -->
        <div class="validation-error" fxLayout="row" fxLayoutAlign="center center">
          <span *ngIf="validationError">{{ validationError }}</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="default-shadow">
          <button mat-flat-button scAnimated="fadeIn"
            class="login-button box-shadow"
            [disabled]="isFormInvalid(changePwdForm)"
            color="primary"
            style="color: white">
            Cambiar contraseña
          </button>
        </div>
      </form>
    </div>
    <div fxLayout="row login-links" fxLayoutAlign="center center"  style="margin-top: 8px;" >
      <a class="login-link" (click)="changeLoginOption(1)" *ngIf="!isCurrentOption(1)">Iniciar sesión</a>
      <a class="login-link" (click)="changeLoginOption(0)" *ngIf="!isCurrentOption(0)">Registrarse</a>
      <a class="login-link" (click)="changeLoginOption(2)" *ngIf="!isCurrentOption(2)">Olvidaste tu Contraseña</a>
    </div>
  </div>
</div>