<div fxLayout="row" fxLayoutAlign="center center" class="login-bg" style="height: 100vh">
  <div fxLayout='column' fxFlex="30" fxFlex.xs="100" fxFlex.gt-md="20" fxFlexAlign="center" style="margin: 20px">
    <div [ngSwitch]="loginMode">
      <div class="login-wraper" *ngSwitchCase="0">
        <form class="login-form" #loginForm="ngForm">
          <div class="border-container">
            <div fxLayout="row" fxLayoutAlign="center center">
              <input class="login-input" placeholder="Usuario" required="true" [(ngModel)]="login.username" name="username" type="text">
            </div>
            <hr class="login-line">
            <div fxLayout="row" fxLayoutAlign="center center">
              <input class="login-input" placeholder="Contraseña" required="true" [(ngModel)]="login.password" name="password" type="password">
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-flat-button color="primary" (click)="doLogin()" [disabled]="loginForm.form.touched && loginForm.form.invalid" style="color: white"
              class="login-button">Iniciar sesión</button>
          </div>
        </form>
        <div fxLayout="row login-links" style="margin-top: 8px;" fxLayoutAlign="center center">
          <a class="login-link" (click)="changeLoginOption(1)">Registrarse</a>
          <a class="login-link" (click)="changeLoginOption(2)">Olvidé mi contraseña</a>
        </div>
      </div>
      <div class="signing-wraper" *ngSwitchCase="1">
        <form class="login-form" #signingForm="ngForm">
          <div class="border-container">
            <div fxLayout="row" fxLayoutAlign="center center">
              <input class="login-input" placeholder="Usuario" required="true" [(ngModel)]="signing.username" name="newUsername" type="text">
            </div>
            <hr class="login-line">
            <div fxLayout="row" fxLayoutAlign="center center">
              <input class="login-input" placeholder="Email" required="true" [(ngModel)]="signing.email" name="newPassword" type="password">
            </div>
            <hr class="login-line">
            <div fxLayout="row" fxLayoutAlign="center center">
              <input class="login-input" placeholder="Contraseña" required="true" [(ngModel)]="signing.password" name="newPassword" type="password">
            </div>
            <hr class="login-line">
            <div fxLayout="row" fxLayoutAlign="center center">
              <input class="login-input" placeholder="Repetir Contraseña" required="true" [(ngModel)]="signing.passwordCheck" name="newPasswordRepeat" type="password">
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-flat-button color="primary" (click)="doSigning()" [disabled]="signingForm.form.touched && signingForm.form.invalid" style="color: white"
              class="login-button">Registrarse</button>
          </div>
        </form>
        <div fxLayout="row login-links" style="margin-top: 8px;" fxLayoutAlign="center center">
          <a class="login-link" (click)="changeLoginOption(0)">Iniciar sesión</a>
          <a class="login-link" (click)="changeLoginOption(2)">Olvidé mi contraseña</a>
        </div>
      </div>
      <div class="change-password-wraper" *ngSwitchCase="2">
        <form class="login-form" #passwordForm="ngForm">
          <div class="border-container">
            <div fxLayout="row" fxLayoutAlign="center center">
              <input class="login-input" placeholder="Email de recuperación" required="true" [(ngModel)]="forgotPassword.email" name="recoveryEmail" type="text">
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-flat-button color="primary" (click)="changePassword()" [disabled]="passwordForm.form.touched && passwordForm.form.invalid" style="color: white"
              class="login-button">Enviar contraseña</button>
          </div>
        </form>
        <div fxLayout="row login-links" style="margin-top: 8px;" fxLayoutAlign="center center">
          <a class="login-link" (click)="changeLoginOption(0)">Iniciar sesión</a>
          <a class="login-link" (click)="changeLoginOption(1)">Registrarse</a>
        </div>
      </div>
    </div>
  </div>
</div>