<cdk-virtual-scroll-viewport
  scAnimated="fadeIn"
  itemSize="50"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onLoadMore()"
  [scrollWindow]="false"
  class="menu-container default-shadow">
  <div
    class="menu-items"
    [style.color]="iconsColor"
    *cdkVirtualFor="let item of menu.getVisible()">
    <sc-menu-tree
      scAnimated="fadeIn"
      [isMobile]="isMobile"
      [item]="item"></sc-menu-tree>
  </div>
</cdk-virtual-scroll-viewport>
