.menu-container {
    background-color: white;
    width: 255px;
    min-height: calc(100vh - 76px);
    border-right: solid 1px #eee;
    font-size: 15px;
    position: fixed;
    z-index: 200;
}

.menu-item-container:hover {
    background-color: #eee;
    cursor: pointer;
}

.menu-item-container:hover * {
    color: #20aee3;
}
