<div class="object-card" scAnimated="fadeIn">
  <button mat-icon-button color="warn" class="delete-button" (click)="onDelete()">
    <mat-icon aria-label="Delete icon">close</mat-icon>
  </button>
  <div
    class="card-container default-shadow"
    fxLayout="column"
    fxLayoutAlign="start center"
  >
    <div class="img-container">
      <img [src]="imagePath" class="card-img" />
    </div>
    <div class="card-text-container">
      <h3 class="card-name margin0">{{ title }}</h3>
      <h4 class="card-username margin0">{{ description }}</h4>
    </div>
  </div>
</div>
