::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
  color: #22aee3;
  font-size: 14px;
}

.mat-header-cell {
  border-bottom-width: 2px;
}

.mat-row:hover {
  background-color: #f6f6f6;
}

.actions-cell {
  text-align: right;
}

.filter-container {
  margin-top: 40px;
}

.mobile-label {
  display: none;
}

@media screen and (max-width: 599px) {
  .section-title {
    font-size: 23px;
  }

  .section-subtitle {
    font-size: 14px;
  }

  .mobile-label {
    min-width: 80px;
    display: inline-block;

    text-align: right;
    margin-right: 8px;
    color: #22aee3;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 12px;
    display: flex;
  }

  tr {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0,0,0,0.12);
  }

  tr.mat-row {
    height: unset;
  }

  td.mat-cell {
    border-bottom: none;
    margin-bottom: 8px;
  }

  td > mat-form-field {
    padding-top: 0px;
    padding-right: 0px;
  }

  td.mat-cell:first-of-type {
    padding-left: 0px;
  }

  .actions-cell {
    text-align: center;
    width: 100%;
  }
}
