.section-title-container {
  margin: 20px 0px 30px 0;
}

.section-title {
  margin: 0;
  color: #20aee3;
}

.section-subtitle {
  margin: 0;
  margin-top: 5px;
  font-weight: 400;
  font-size: 15px;
}

::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
  color: #22aee3;
  font-size: 14px;
}

.mat-header-cell {
  border-bottom-width: 2px;
}

.mat-row:hover {
  background-color: #f6f6f6;
}

.actions-cell {
  text-align: right;
}

.filter-container {
  margin-top: 40px;
}

.mobile-label {
  display: none;
}

.mobile-action {
  display: none;
}

@media screen and (max-width: 599px) {
  .section-title {
    font-size: 23px;
  }

  .section-subtitle {
    font-size: 14px;
  }

  .mobile-label {
    min-width: 80px;
    display: inline-block;
    text-align: right;
    margin-right: 8px;
    color: #22aee3;
  }

  .desktop-action {
    display: none;
  }

  .mobile-action {
    display: inline-block;
    font-size: 12px;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 12px 12px;
    display: flex;
  }

  .generic-table {
    border-spacing: 0px 10px;
    background-color: unset;
  }

  tr {
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 3px 12px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 3px 12px rgba(0,0,0,.05);
    -moz-box-shadow: 0 3px 12px rgba(0,0,0,.05);
    border-color: rgba(120,130,140,.13);
    background-color: white;
  }

  tr.mat-row {
    height: unset;
  }

  td.mat-cell {
    border-bottom: none;
    margin-bottom: 8px;
  }

  td > mat-form-field {
    padding-top: 0px;
    padding-right: 0px;
  }

  td.mat-cell:first-of-type {
    padding-left: 0px;
  }

  .actions-cell {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px !important;
    }

  .edit-mobile-action {
    margin-right: 15px;
    color: rgb(36, 210, 181);
  }
}
