.section-title-container {
    margin: 20px 0px 30px 0;
}

.section-title {
    margin: 0;
    color: #20aee3;
}

.section-subtitle {
    margin: 0;
    margin-top: 5px;
    font-weight: 400;
    font-size: 15px;
}

@media screen and (max-width: 599px) {
    .section-title {
        font-size: 23px;
    }

    .section-subtitle {
        font-size: 14px;
    }
}

::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content:center;
    color: #22aee3;
    font-size: 14px;
}

.mat-header-cell {
    border-bottom-width: 2px;
}

.mat-row:hover {
    background-color: #f6f6f6;
}
