<div *ngIf="chartReady">
  <mat-tab-group>
    <mat-tab *ngFor="let chart of charts" [label]="chart.label">
      <div style="display: inline-flex; width: 100%;">
          <div style="width: 50%">
              <canvas baseChart
              [datasets]="statistics.gatewayId[chart.property].barChartData"
              [labels]="statistics.gatewayId[chart.property].barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
              </canvas>
              <div style="text-align: center">
                  <label>Gateway</label>
              </div>
            </div>
          <div style="width: 50%">
            <canvas baseChart
            [datasets]="statistics.processId[chart.property].barChartData"
            [labels]="statistics.processId[chart.property].barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
            </canvas>
            <div style="text-align: center">
                <label>Procesos</label>
            </div>
          </div>
      </div>
      <div>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle value="bold">Bold</mat-button-toggle>
          <mat-button-toggle value="italic">Italic</mat-button-toggle>
          <mat-button-toggle value="underline">Underline</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
