<header class="default-shadow" [ngStyle]="{ 'background-color': backgroundColor, 'color': textColor }">
  <nav class="navbar">
    <div 
      class="navbar-header"
      fxLayout="col" fxFlexFill
      [fxFlex]="isMenuOpened ? '255px' : '60px'"
      (click)="goHome()">
      <a class="navbar-brand" fxLayout="col">
        <img [src]="brandLogoSrc" fxFlexAlign="center" [alt]="brandName" class="brand-logo"/>
        <div scAnimated="fadeIn"
          class="name-container"
          fxFlexAlign="center" 
          [fxHide]="!isMenuOpened"
          style="padding-left: 10px;">
          <span class="brand-name">
            {{ brandName | uppercase }}
          </span>
        </div>
      </a>
    </div>
    <div class="navbar-collapse" fxLayout="col">
      <ul class="navbar-nav" fxLayout="row">
        <li class="nav-item" [ngStyle]="{ 'color': iconsColor }" fxLayout="col">
          <button mat-icon-button (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
          </button>
        </li>
      </ul>
      <ul class="navbar-nav nav-right" fxLayout="row">
        <li 
          class="nav-item user-item" 
          fxLayout="col" fxLayoutAlign="center center"
          style="padding-right: 10px;"
          (click)="toggleUser($event)">
          <img [src]="userImgSrc" [alt]="userName" class="user-img" fxHide.lt-sm/>
          <span class="user-name">{{ userName }}</span>
          <mat-icon style="margin: auto">keyboard_arrow_down</mat-icon>
        </li>
      </ul>
    </div>
  </nav>
</header>