<header class="default-shadow" [ngStyle]="{ 'background-color': backgroundColor, 'color': textColor }">
  <nav class="navbar" fxLayout="row" fxFlexFill>
    <div 
      class="navbar-header"
      [fxFlex]="isMenuOpened ? '280px' : '60px'"
      (click)="goHome()">
      <a class="navbar-brand" fxLayout="row" fxFlexFill fxLayoutAlign="start center">
        <img [src]="brandLogoSrc" [alt]="brandName" class="brand-logo"/>
        <div scAnimated="fadeIn" fxFlex
          class="name-container"
          [fxHide]="!isMenuOpened"
          style="padding-left: 10px;">
          <span class="brand-name">
            {{ brandName | uppercase }}
          </span>
        </div>
      </a>
    </div>
    <div class="navbar-collapse" fxFlex>
      <ul class="navbar-nav" fxLayout="row" fxLayoutAlign="start stretch">
        <li fxFlex fxHide.gt-xs></li>
        <li class="nav-item" [ngStyle]="{ 'color': iconsColor }" fxFlex="50px">
          <button mat-icon-button (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
          </button>
        </li>
        <li fxFlex fxHide.lt-sm></li>
        <li 
          class="nav-item user-item"
          fxLayout="row" fxLayoutAlign="end stretch"
          style="padding-right: 10px;"
          (click)="toggleUser($event)">
          <img [src]="userImgSrc" [alt]="userName" class="user-img" fxHide.lt-sm fxFlex="35px" />
          <span class="user-name" fxFlex>{{ userName }}</span>
          <mat-icon style="margin: auto" fxFlex="30px">keyboard_arrow_down</mat-icon>
        </li>
      </ul>
    </div>
  </nav>
</header>