header {
    z-index: 50;
    display: block;
    height: 76px;
    max-height: 76px;
    align-items: center;
    position: fixed;
    width: 100vw
}

nav {
    height: 100%;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.navbar-header {
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
}

@media (min-width: 599px) {
    .navbar-collapse {
        border-left: 1px solid #eee;
    }
}

.nav-item {
    font-size: 15px;
}

.nav-right {
    margin: 0;
    height: 100%;
}

.brand-logo {
    width: 40px;
    height: 40px;
}

.brand-name {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.5px;
    padding-left: 5px;
    padding-right: 10px;
}

.nav-right {
    position: absolute;
    right: 0;
}

.user-item {
    cursor: pointer;
    padding-left: 10px;
    margin: auto 0;
}

.user-item:hover, .navbar-header:hover {
    background-color: #eee;
}

.user-img {
    max-width: 40px;
    height: 30px;
    max-height: 40px;
}

.user-name {
    margin: auto 10px;
}

@media (max-width: 1279px) {
    .user-name {
        display: none;
    }
}

@media (max-width: 599px) {
    .right-options,
    .user-img {
        display: none;
    }
}
