<mat-form-field style="font-size: 14px;" appearance="standard">
    <input matInput 
    [placeholder]="placeholder"
    [matAutocomplete]="auto"
    [(ngModel)]="query"
    (ngModelChange)="queryChanged($event)">
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete"
  [autoActiveFirstOption]="true">
  <mat-option *ngFor="let element of filteredSet" (click)="selectElement(element)">
    <span>{{ element.name }}</span>
  </mat-option>
  <mat-option class="spinner-option" *ngIf="isSearching">
    <mat-spinner style="margin: 0 auto" [diameter]="25"></mat-spinner>
  </mat-option>
</mat-autocomplete>