<div class="btn-container default-shadow" flexLayout="row" fxLayoutAlign="end center">
  <button mat-stroked-button
    *ngIf="section !== 0"
    (click)="prev.emit()"
    matTooltip="Los cambios se perderán si no son guardados previamente.">
    <mat-icon>keyboard_arrow_left</mat-icon>
    <span class="btn-name">Anterior</span>
  </button>
  <button mat-stroked-button
    *ngIf="section !== (length - 1)"
    (click)="next.emit()"
    matTooltip="Los cambios se perderán si no son guardados previamente.">
    <mat-icon>keyboard_arrow_right</mat-icon>
    <span class="btn-name">Siguiente</span>
  </button>
  <button mat-stroked-button color="primary" 
    *ngIf="isSaveVisible"
    (click)="save.emit()">
    <mat-icon>save</mat-icon>
    <span class="btn-name">Guardar</span>
  </button>
</div>