.profile-container {
  background-color: white;
  padding: 30px;
}
.user-img {
  margin-bottom: 10px;
}

.name-container {
  text-align: center;
}

.profile-name {
  font-size: 21px;
  color: #20aee3;
}

.profile-username {
  font-style: italic;
  color: #bcc3d3;
  font-size: 14px;
  font-weight: 100;
}

.section-title {
  margin: 20px 0;
  color: #5a5a5a;
}

mat-form-field {
  margin: 5px 0;
  display: inline-block !important;
}

table {
  width: 100%;
}

td > mat-form-field {
  padding-top: 15px;
  padding-right: 10px;
}

.mobile-label {
  display: none;
}

tr.mat-row {
  height: unset;
}

@media (max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
    display: flex;
  }

  tr {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: darkgray;
  }

  td.mat-cell {
      border-bottom: none;
  }

  td > mat-form-field {
    padding-top: 0px;
    padding-right: 0px;
  }
}
