<header class="default-shadow">
  <nav class="navbar" fxLayout="row" fxFlexFill>
    <div fxFlex="60" fxFlexOffset="20%" class="navbar-header" (click)="goHome()">
      <a
        class="navbar-brand"
        fxLayout="row"
        fxFlexFill
        fxLayoutAlign="center center">
        <div
          scAnimated="fadeIn"
          class="name-container"
          fxHide.lt-sm>
          <span class="brand-name">SMART</span>
        </div>
        <img
          src="assets/icons/icon.png"
          alt="Smart Campus Logo"
          class="brand-logo"/>
        <div
          scAnimated="fadeIn"
          class="name-container"
          fxHide.lt-sm>
          <span class="brand-name">CAMPUS</span>
        </div>
      </a>
    </div>
    <div class="navbar-collapse" fxFlex="20">
      <ul class="navbar-nav" fxFlex fxLayout="row" fxLayoutAlign="end">
        <li class="nav-item" fxFlex="50px" style="margin: auto;">
          <button mat-icon-button>
            <mat-icon
              [matBadge]="notificationService.unreadNotificationsCount"
              matBadgeColor="warn"
              [matBadgeHidden]="!notificationService.unreadNotificationsCount">
              notifications
            </mat-icon>
          </button>
        </li>
        <li
          class="nav-item user-item" fxFlex
          style="padding-right: 10px;"
          (click)="toggleUserCard($event)">
          <img
            src="assets/imgs/user.png"
            [alt]="userName"
            class="user-img"
            fxFlex="35px"
            style="margin: auto"/>
          <span class="user-name" fxHide.lt-lg>{{ appService.user?.name }}</span>
          <mat-icon style="margin: auto" fxFlex="30px">keyboard_arrow_down</mat-icon>
        </li>
      </ul>
    </div>
  </nav>
</header>
<sc-user-card
  scClickOutside
  scAnimated="fadeInDownBig"
  [ngStyle]="{
    visibility: dashboardService.isUserCardOpened ? 'visible' : 'hidden'
  }"
  (clickOutside)="closeUserCard()"
  imageUrl="assets/imgs/user.png"
  [username]="appService.user?.username"
  [email]="appService.user?.email"
  [name]="appService.user?.name">
</sc-user-card>
<div class="page-wrapper">
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
    <sc-section-card
      title="Aplicaciones"
      description="Gestiona tus apps"
      url="/dashboard/applications"
      materialIconName="apps"
      cardColor="#24d2b5"></sc-section-card>
    <sc-section-card
      title="Gateways"
      description="Gestiona tus gateways"
      url="/dashboard/gateways"
      materialIconName="business"
      cardColor="#007bff"></sc-section-card>
    <sc-section-card
      title="Procesos"
      description="Gestiona tus procesos"
      url="/dashboard/processes"
      materialIconName="widgets"
      cardColor="#ff5c6c"></sc-section-card>
    <sc-section-card
      title="Dispositivos"
      description="Gestiona tus dispositivos"
      url="/dashboard/devices"
      materialIconName="device_hub"
      cardColor="#6772e5"></sc-section-card>
    <sc-section-card
      title="Usuarios"
      description="Gestiona los usuarios"
      url="/dashboard/users"
      materialIconName="supervised_user_circle"
      cardColor="#000"></sc-section-card>
  </div>
  <router-outlet></router-outlet>
</div>