<sc-header
  *ngIf="appService.isLogedIn"
  backgroundColor="white"
  brandLogoSrc="assets/icons/icon-72x72.png"
  [brandName]="title"
  iconsColor="#a2a2a2"
  [isMenuOpened]="appService.isMenuOpened"
  textColor="#20aee3"
  userImgSrc="assets/imgs/user.png"
  [userName]="appService.user?.name"
  (menuToggled)="toggleSideMenu()"
  (userToggled)="toggleUserCard($event)">
</sc-header>
<div fxLayout="row">
  <sc-menu fxFlex="280px" [fxHide]="!appService.isMenuOpened"
    *ngIf="appService.isLogedIn"
    backgroundColor="white"
    iconsColor="#a2a2a2"
    [isOpened]="appService.isMenuOpened"
    [menu]="appService.menu"
    (menuClosed)="closeMenu()">
  </sc-menu>
  <div fxFlex style="overflow-x: hidden">
    <router-outlet></router-outlet>
  </div>
</div>
<sc-user-card scClickOutside
  [ngStyle]="{ 'visibility': appService.isUserCardOpened && appService.isLogedIn ? 'visible' : 'hidden' }"
  (clickOutside)="closeUserCard($event)"
  imageUrl="assets/imgs/user.png"
  [username]="appService.user?.username"
  [email]="appService.user?.email"
  [name]="appService.user?.name">
</sc-user-card>
<sc-full-screen-loader *ngIf="appService.isBusyGlobally"></sc-full-screen-loader>
<ng2-toasty></ng2-toasty>