<div class="page-wrapper top-margin">
    <sc-section-title
        title="Aplicaciones"
        description="Gestionar los casos de uso"
        createVisible="true"
        (create)="createApplication()">
    </sc-section-title>
    <div
        class="cards-container"
        fxLayout="row wrap"
        fxLayoutAlign="space-evenly center">
        <ng-container *ngFor="let application of appService.applications; index as i">
            <sc-object-card
                imagePath="assets/imgs/cpu.png"
                [title]="application?.name"
                [description]="application?.description"
                dialogTitle="Eliminar aplicación"
                [dialogQuestion]="'¿Está seguro que desea eliminar la aplicación ' + application?.name + ' ?'"
                (delete)="deleteApplication(application.idApplication)"
                (cardClicked)="openApplication(application.idApplication)">
            </sc-object-card>
        </ng-container>
    </div>
  
</div>