<div class="page-wraper">
  <div scAnimated="fadeIn"
    class="profile-container default-shadow"
    fxLayout="column" fxLayoutAlign="start center">
    <div class="img-container">
      <img src="assets/imgs/user.png" [alt]="service.user?.name" class="user-img"/>
    </div>
    <div class="name-container">
      <h3 class="profile-name margin0">{{ service.user?.name }}</h3>
      <h4 class="profile-username margin0"><b>{{ username }}</b> - {{ service.user?.email }}</h4>
    </div>
  </div>
  <h3 class="section-title">EDITAR PERFIL</h3>
  <div scAnimated="fadeIn" 
    class="profile-container default-shadow">
      <!-- EDIT PROFILE FORM -->
    <form class="update-form" #updateProfile="ngForm" (ngSubmit)="doUpdate()">
      <!-- UPDATE NAME INPUT -->
      <mat-form-field appearance="outline" fxLayout="column">
        <mat-label>Introduzca su nuevo nombre.</mat-label>
        <input matInput 
          name="newName" #newName="ngModel" 
          type="text" placeholder="Nombre"
          minlength="8" required
          [(ngModel)]="updateInput.name">
        <mat-error
          *ngIf="newName.errors?.minlength">
          El Nombre de usuario debe tener al menos 8 caracteres.
        </mat-error>
        <mat-error
          *ngIf="newName.errors?.required">
          El Nombre de usuario es requerido.
        </mat-error>
      </mat-form-field>
      <!-- UPDATE EMAIL INPUT -->
      <mat-form-field appearance="outline" fxLayout="column">
        <mat-label>Introduzca su nuevo correo electrónico</mat-label>
        <input matInput
          name="newEmail" #newEmail="ngModel"
          type="text" placeholder="Correo electrónico"
          required ngvemail
          [(ngModel)]="updateInput.email">
        <mat-error
          *ngIf="newEmail.errors?.email">
          El correo es invalido.
        </mat-error>
        <mat-error
          *ngIf="newEmail.errors?.required">
          El correo es requerido.
        </mat-error>
      </mat-form-field>
      <!-- UPDATE PASSWORD INPUT -->
      <mat-form-field appearance="outline" fxLayout="column">
        <mat-label>Introduzca su contraseña</mat-label>
        <input matInput
          name="oldPass" #oldPass="ngModel"
          type="password" placeholder="Contraseña"
          required="true" minlength="4"
          [(ngModel)]="updateInput.password">
        <mat-hint>La contraseña actual debe ser introducida para poder actualizar el perfil.</mat-hint>
        <mat-error
          *ngIf="oldPass.errors?.required">
          La Contraseña actual es requerida.
        </mat-error>
        <mat-error
          *ngIf="oldPass.errors?.minlength">
          La contraseña debe tener al menos 4 caracteres.
        </mat-error>
      </mat-form-field>
      <!-- UPDATE PASSWORD INPUT -->
      <div style="margin: 20px 0">
        <mat-checkbox [(ngModel)]="changePwd" name="changePwd">Cambiar contraseña</mat-checkbox>
      </div>
      <mat-form-field appearance="outline" class="checkbox" *ngIf="changePwd" fxLayout="column">
        <mat-label>Introduzca su nueva contraseña</mat-label>
        <input matInput
          name="newPass" #newPass="ngModel"
          type="password" placeholder="Nueva Contraseña"
          [required]="changePwd" minlength="4" [notEqual]="updateInput.password"
          [(ngModel)]="newPwd">
        <mat-error
          *ngIf="newPass.errors?.required">
          Contraseña nueva requerida.
        </mat-error>
        <mat-error
          *ngIf="newPass.errors?.minlength">
          La nueva contraseña debe tener al menos 4 caracteres.
        </mat-error>
        <mat-error
          *ngIf="newPass.errors?.notEqual">
          La nueva contraseña no debe ser igual a la anterior.
        </mat-error>
      </mat-form-field>
      <!-- Server side validations. -->
      <div class="validation-error" fxLayout="row" fxLayoutAlign="center center">
        <span *ngIf="validationError">{{ validationError }}</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-flat-button scAnimated="fadeIn"
          class="login-button box-shadow"
          [disabled]="service.isFormInvalid(updateProfile)"
          color="primary"
          style="color: white">
          Actualizar perfil
        </button>
      </div>
    </form>
  </div>
</div>
