.profile-container {
    background-color: white;
    padding: 30px;
}

.user-img {
    margin-bottom: 10px;
}

.name-container {
    text-align: center;
}

.profile-name {
    font-size: 21px;
    color: #20aee3;
}

.profile-username {
    font-style: italic;
    color: #bcc3d3;
    font-size: 14px;
    font-weight: 100;
}

.section-title {
    margin: 20px 0;
    color: #5a5a5a;
}

mat-form-field {
    margin: 5px 0;
}
