<div class="page-wrapper default-shadow top-margin">
  <div *ngIf="isMobile; else notMobile">
    <mat-vertical-stepper [linear]="true"
      (selectionChange)="onSelectionChanged($event)">
      <!-- APPLICATION STEP -->
      <mat-step>
        <ng-template matStepLabel>Aplicación</ng-template>
        <sc-application></sc-application>
        <sc-wizard-btns
          isSaveVisible="true"
          [isPrevEnabled]="wizard.isPrevEnabled"
          [isNextEnabled]="wizard.isNextEnabled"
          (save)="onSectionSaved(0)">
        </sc-wizard-btns>
      </mat-step>
      <!-- GATEWAYS STEP -->
      <mat-step>
        <ng-template matStepLabel>Gateways</ng-template>
        <sc-gateways></sc-gateways>
        <sc-wizard-btns
          isSaveVisible="true"
          [isPrevEnabled]="wizard.isPrevEnabled"
          [isNextEnabled]="wizard.isNextEnabled"
          (save)="onSectionSaved(1)">
        </sc-wizard-btns>
      </mat-step>
      <!-- DEVICES STEP -->
      <mat-step>
        <ng-template matStepLabel>Dispositivos</ng-template>
        <sc-wizard-btns
          isSaveVisible="true"
          [isPrevEnabled]="wizard.isPrevEnabled"
          [isNextEnabled]="wizard.isNextEnabled"
          (save)="onSectionSaved(2)">
        </sc-wizard-btns>
      </mat-step>
      <!-- PROCESSES STEP -->
      <mat-step>
        <ng-template matStepLabel>Procesos</ng-template>
        <sc-wizard-btns
          isSaveVisible="true"
          [isPrevEnabled]="wizard.isPrevEnabled"
          [isNextEnabled]="wizard.isNextEnabled"
          (save)="onSectionSaved(3)">
        </sc-wizard-btns>
      </mat-step>
    </mat-vertical-stepper>
  </div>
  <ng-template #notMobile>
    <mat-horizontal-stepper [linear]="true"
      (selectionChange)="onSelectionChanged($event)">
      <!-- APPLICATION STEP -->
      <mat-step>
        <ng-template matStepLabel>Aplicación</ng-template>
        <sc-application></sc-application>
        <sc-wizard-btns
          isSaveVisible="true"
          [isPrevEnabled]="wizard.isPrevEnabled"
          [isNextEnabled]="wizard.isNextEnabled"
          (save)="onSectionSaved(0)">
        </sc-wizard-btns>
      </mat-step>
      <!-- GATEWAYS STEP -->
      <mat-step>
        <ng-template matStepLabel>Gateways</ng-template>
        <sc-gateways></sc-gateways>
        <sc-wizard-btns
          isSaveVisible="true"
          [isPrevEnabled]="wizard.isPrevEnabled"
          [isNextEnabled]="wizard.isNextEnabled"
          (save)="onSectionSaved(1)">
        </sc-wizard-btns>
      </mat-step>
      <!-- DEVICES STEP -->
      <mat-step>
        <ng-template matStepLabel>Dispositivos</ng-template>
        <sc-wizard-btns
          isSaveVisible="true"
          [isPrevEnabled]="wizard.isPrevEnabled"
          [isNextEnabled]="wizard.isNextEnabled"
          (save)="onSectionSaved(2)">
        </sc-wizard-btns>
      </mat-step>
      <!-- PROCESSES STEP -->
      <mat-step>
        <ng-template matStepLabel>Procesos</ng-template>
        <sc-wizard-btns
          isSaveVisible="true"
          [isPrevEnabled]="wizard.isPrevEnabled"
          [isNextEnabled]="wizard.isNextEnabled"
          (save)="onSectionSaved(2)">
        </sc-wizard-btns>
      </mat-step>
    </mat-horizontal-stepper>
  </ng-template>
</div>