<div class="page-wrapper default-shadow top-margin">
  <div *ngIf="isMobile; else notMobile">
    <mat-vertical-stepper [linear]="true" #verticalStepper
      (selectionChange)="onSelectionChanged($event)">
      <!-- APPLICATION STEP -->
      <mat-step>
        <ng-template matStepLabel>Aplicación</ng-template>
        <sc-application></sc-application>
      </mat-step>
      <!-- GATEWAYS STEP -->
      <mat-step>
        <ng-template matStepLabel>Gateways</ng-template>
        <sc-gateways></sc-gateways>
      </mat-step>
      <!-- DEVICES STEP -->
      <mat-step>
        <ng-template matStepLabel>Dispositivos</ng-template>
      </mat-step>
      <!-- PROCESSES STEP -->
      <mat-step>
        <ng-template matStepLabel>Procesos</ng-template>
      </mat-step>
    </mat-vertical-stepper>
  </div>
  <ng-template #notMobile>
    <mat-horizontal-stepper [linear]="true" #horizontalStepper
      (selectionChange)="onSelectionChanged($event)">
      <!-- APPLICATION STEP -->
      <mat-step>
        <ng-template matStepLabel>Aplicación</ng-template>
        <sc-application></sc-application>
      </mat-step>
      <!-- GATEWAYS STEP -->
      <mat-step>
        <ng-template matStepLabel>Gateways</ng-template>
        <sc-gateways></sc-gateways>
      </mat-step>
      <!-- DEVICES STEP -->
      <mat-step>
        <ng-template matStepLabel>Dispositivos</ng-template>
      </mat-step>
      <!-- PROCESSES STEP -->
      <mat-step>
        <ng-template matStepLabel>Procesos</ng-template>
      </mat-step>
    </mat-horizontal-stepper>
  </ng-template>
</div>
<sc-wizard-btns
  isSaveVisible="true"
  [isPrevEnabled]="wizard.isPrevEnabled"
  [isNextEnabled]="wizard.isNextEnabled"
  (previous)="onPrevious()"
  (next)="onNext()"
  (save)="onSectionSaved(0)">
</sc-wizard-btns>