@media (max-width: 599px) {
    .page-wrapper {
        margin: 10px;
        margin-top: 106px;
    }
}

::ng-deep .mat-horizontal-stepper-header,
::ng-deep .mat-vertical-stepper-header {
    pointer-events: none !important;
}