* {
  color: white;
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.app-name {
  text-decoration: none;
}

.mat-drawer-content {
  min-height: calc(100vh - 64px);
}

.menu-icon {
  color: #444444;
  padding-right: 25px;
}

mat-nav-list {
  padding-top: 0 !important;
}

.mat-list-item {
  padding: 8px 15px 8px 8px;
}

.mat-list-item-selected {
  border-left: 5px solid ;
  color: #ffc107;
}
