.menu-item-container {
    height: 50px;
}

.menu-item-container:hover {
    background-color: #eee;
    cursor: pointer;
}

.menu-item-container:hover * {
    color: #20aee3;
}

.item-active {
    background-color: #eee;
    font-style: italic;
    color: #20aee3;
    outline: 0;
}

.menu-icon-left,
.menu-item-name,
.menu-icon-right {
    margin: auto;
}

.menu-icon-left {
    padding-left: 5px;
}

.menu-item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-icon-right {
    text-align: center;
}
