<div
  scAnimated="fadeIn"
  class="menu-item-container"
  [ngStyle]="{
    'height': '50px',
    'width': isMobile ? '100%' : '280px',
    'font-size': item.level < 3 ? '15px' : '14px'
  }"
  [routerLink]="item.path" routerLinkActive="item-active" 
  [routerLinkActiveOptions]="{ exact: true }">
  <div
    flexLayout="row" fxFlexFill
    [ngStyle]="{ 'padding-left': (15 * (item.level - 1)) + 'px' }">
    <div
      class="menu-icon-left"
      fxFlex="50px"
      *ngIf="item.hasIcon()">
      <mat-icon
        style="font-size: 27px; padding: 0 5px;">
        {{ item.icon }}
      </mat-icon>
    </div>
    <div 
      class="menu-item-name" fxFlex>
      {{ item.name }}
    </div>
    <div 
      class="menu-icon-right" fxFlex="50px"
      (click)="nodeToggled(); $event.stopPropagation();">
      <mat-icon *ngIf="item.hasChildren()" style="font-size: 23px">
        {{ item.isExpanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
      </mat-icon>
    </div>
  </div>
</div>