.title-container {
    margin: 30px 0;
}

.section-title {
    color: #20aee3;
    font-size: 23px;
    letter-spacing: 3px;
}

.section-description {
    font-style: italic;
    color: #656971;
    font-size: 15px;
    font-weight: 100;
}

.section-right {
    position: absolute;
    right: 40px;
}